/RXTXRobot/nbproject/private/
/RXTXRobot/build/
/RXTXRobot/dist/
/RXTXRobot/store/
/RXTXRobot_Controls/nbproject/private/
/RXTXRobot_Controls/build/
/RXTXRobot_Controls/dist/
/RXTXRobot_Controls/store/
/RXTXRobot/lib/RXTXcomm_INSTALL/Linux/libs/libphidget/*.lo
/RXTXRobot/lib/RXTXcomm_INSTALL/Linux/libs/libphidget/*.o
/RXTXRobot/lib/RXTXcomm_INSTALL/Linux/libs/libphidget/.libs/
/Vending_Machine/**/users.csv
/Vending_Machine/**/fyd_user_base.db
/Vending_Machine/**/vending_secret.json
/Vending_Machine/**/VM_Users.csv
/Vending_Machine/**/VM_Items.csv
/Vending_Machine/**/VM_Credit.csv
/Vending_Machine/**/itemdefs.csv
/Vending_Machine/**/credit.csv
.DS_Store

